.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 40px;
  font-size: 35px;
}

section {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.sections {
  margin-top: 40px;
}

.sectionsText {
  width: 80%;
  margin-left: 10%;
}

.headerAbout {
  margin-bottom: 20px;
  margin-top: 20px;
}

.schedule {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

#topSection {
  margin-top: 130px;
}

#bottomSection {
  margin-bottom: 100px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  background: #5BACFD;
  font-size: 23px;
  font-weight: 900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 85px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 3%;
  width: 94%; /* Full width */
}

.NavBar p {
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

.NavBar img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 30px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

#rightText {
  margin-left: 55px;
}

body {
  font-family: "Helvetica Neue", "Bookman";
}

.animalCard {
  padding: 10px 10px;
  height: 350px;
  width: 225px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 20px;
}

.animalCard img {
  height: 125px;
  width: 100%;
}

button {
  margin-top: 10px;
  background-color: #5BACFD;
  border: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 7px;
  width: 100%;
  font-size: 13px;
}

span {
  font-weight: bold;
}